
@{
    ViewBag.Title = "Đặt phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var availableroom = (List<HOTELMANAGEWEB.DAL.AvailableRoomModel>)ViewBag.AvailableRoomList;
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('../../Assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-end">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Booking</span></p>
                    <h1 class="mb-3">Booking</h1>
                </div>
            </div>
        </div>
    </div>
</section>


@{ 
    foreach (var item in availableroom)
    {
        <h1>@item.RoomTypeName</h1>
        <h2>@item.RoomTypeDescription</h2>
        <h3>@item.RoomTypePrices</h3>
    }
}

